[Unit]
Description=Botan Linux Live Netinstall Hazırlık Servisi
After=network.target
ConditionPathExists=/run/archiso

[Service]
Type=oneshot
ExecStart=/usr/local/bin/botan-net-config.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
