[Unit]
Description=Botan Linux İlk Yapılandırma Servisi
After=network.target

[Service]
Type=oneshot
# İlk olarak netinstall ayarlarını yap
ExecStart=/usr/local/bin/botan-net-config.sh
# Sonra ana yapılandırma scriptini çalıştır (mkinitcpio vb.)
ExecStart=/usr/local/bin/botan-first-boot.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
