[Unit]
Description=Botan Linux Live User Creator
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/botan-user.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
