name: Botan ISO Builder
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Free Disk Space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo docker image prune -af 

      - name: Build ISO
        run: |
          mkdir -p $(pwd)/work_dir
          mkdir -p $(pwd)/out_dir
          # .gitkeep dosyalarını temizle (ISO içinde gözükmesinler)
          find airootfs/ -name ".gitkeep" -delete || true
          
          # Docker içinde derlemeyi başlat
          docker run --privileged --rm \
            -v $(pwd):/iso \
            -v $(pwd)/work_dir:/work \
            -v $(pwd)/out_dir:/output \
            archlinux:latest /bin/bash -c "
              # Gerekli araçları kur (grub, mtools, libisoburn ve dosfstools şart)
              pacman -Syu --noconfirm archiso grub mtools libisoburn dosfstools &&
              pacman -Scc --noconfirm && 
              # ISO Derleme komutu
              mkarchiso -v -w /work -o /output /iso
            "

      - name: Upload to Transfer
        run: |
          ISO_PATH=$(ls out_dir/*.iso)
          echo "Uploading $ISO_PATH to Transfer.sh..."
          curl --upload-file "$ISO_PATH" https://transfer.sh/botan-sprout-1.0-x86_64.iso
